footer {
    width: 100%;
    background: linear-gradient(to bottom right, var(--primary), var(--primary-dark)); /* Dark blue gradient */
    color: #FFFFFF; /* Bright white text */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-left {
    font-size: 1em;
}

.footer-right {
    display: flex;
    gap: 15px;
}